input[placeholder="Name"] {
  border: none;
  font-size: 48px;
}

#email {
  border: none;
  margin-left: 1rem;
}

#phone, #location {
  border: none;
}

#document {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 60%;
  height: max-content;
  background-color: white;
}

#contact {
  display: flex;
  gap: 10px;
}

#name {
  display: flex;
  margin: 1rem 1rem 0 1rem;
}

#role-edit {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#edu-title-edit {
  margin: 1rem;
  font-size: 28px;
  font-weight: 900;
}

#education {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
