input[placeholder="Name"] {
  border: none;
  font-size: 38px;
}

#role-edit {
  border: none;
  border-bottom: 1px solid #cbd5e1;
}

#email {
  border: none;
  margin-left: 1rem;
  border-bottom: 1px solid #cbd5e1;
  padding-bottom: 2px;
}

#phone, #location {
  border: none;
  border-bottom: 1px solid #cbd5e1;
}

#document {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: max-content;
  background-color: white;
  padding-bottom: 1rem;
  position: absolute;
  top: 8rem;
  box-shadow: 2px 2px 5px gray;
}

#contact {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

#name {
  display: flex;
  margin: 1rem 1rem 0 1rem;
}

#role-edit {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#edu-title-edit {
  margin: 1rem;
  font-size: 28px;
  font-weight: 900;
}

#education {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
