header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  background-image: url('../backgroundImg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0.8;
  color: white;
}

#header-links {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-right: 6rem;
  padding: 0;
}

#header-title {
  margin-left: 6rem;
  font-weight: 900;
  font-size: large;
}

#edit-btn, #prev-btn {
  padding: 0;
  background: none;
  border: none;
  font-size: 15px;
  color: white;
}
