textarea {
  margin-left: 1rem;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid #cbd5e1;
}

#skills-title-edit {
  font-size: 24px;
  font-weight: 900;
  margin-left: 1rem;
  margin-top: 1rem;
}
